<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.slk.version.module.vg_version.mapper.VgVersionMapper">

    <resultMap id="BaseResultMap" type="com.slk.version.module.vg_version.po.VgVersion" >
        <id column="id" property="id" />
        <result column="project_id" property="project_id" />
        <result column="title" property="title" />
        <result column="versioncode" property="versioncode" />
        <result column="projecttype_id" property="projecttype_id" />
        <result column="bewrite" property="bewrite" />
        <result column="fileurl" property="fileurl" />
        <result column="isuse" property="isuse" />
        <result column="createtime" property="createtime" />
        <result column="createuser_id" property="createuser_id" />
    </resultMap>
</mapper>